//- Login page
doctype html

html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8")
    title Sign in
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css")
    link(rel="stylesheet", href="/static/css/login.css")
    script(src="/static/js/jquery-3.3.1.min.js")
    script(src="/static/js/login.js")
  body
    #wrapper
      form#sign(action="/login" method="post")
        #box.top-title(onlick="#") Please Sign in
        #form-body
          #field
            img.icon(src="/static/imgs/user.png")
            input#id(name="id" type="text" placeholder="Id" maxlength="20" autocomplete="off" val="id")
          #field
            img.icon(src="/static/imgs/key.png")
            input#passwd(name="passwd" type="password" placeholder="Password" maxlength="20" val="passwd")
        span.alert Incorrect id or password
        a(onclick="signIn()" style="cursor: pointer;")
          #box.button Sign in